name: Deploy Sanity Studio

on:
  push:
    branches:
      - dev
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - dev

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Sanity Studio
        run: npm run build
        
      - name: Show folder structure after build
        run: |
          echo "=== ROOT DIRECTORY ==="
          ls -R .
          echo "=== SANITY-STUDIO DIRECTORY ==="
          ls -R ./sanity-studio

      - name: Deploy to Azure Static Web Apps
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_SWA_TOKEN_SANITY  }}
          action: upload

          app_location: "/"               # ← Do NOT set "/"
          app_artifact_location: "dist"  # ← Points to built output
          skip_app_build: true
